:root {
    /* Color Variables (Exercise 7-1, step 11) */
    --light-menu-color: white; 
    --mid-menu-color: antiquewhite; /* Mid color, antique white is suggested */
    --dark-menu-color: black; 
    --accent-color: #369; /* Example accent color for the navbar background */
}

/* Base styles for layout (optional, but good practice) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* -----------------------------------
 * NAV BAR & MENU STYLES
 * ----------------------------------- */

/* CSS for the navbar class (Exercise 7-1, step 12) */
.navbar {
    background-color: var(--accent-color); 
}

/* CSS for the menu class (Exercise 7-1, steps 8, 12) */
.menu {
    display: flex;       [cite_start]/* Use flexbox to display items horizontally [cite: 23] */
    flex-wrap: wrap;     [cite_start]/* Wrap menu items on small screens [cite: 23] */
    margin: 0;           [cite_start]/* Remove default margins [cite: 35] */
    padding: 0;          [cite_start]/* Remove default padding [cite: 35] */
    list-style-type: none; [cite_start]/* Remove bullets from the list items [cite: 35] */
}

/* Nested style rule for <li> element (Exercise 7-1, steps 9, 15; Exercise 7-2, step 5) */
.menu > li {
    flex-basis: 20%;      [cite_start]/* Space menu items to take up entire bar [cite: 26] */
    text-align: center;   [cite_start]/* Center the text in the menu item [cite: 41] */
    position: relative;   [cite_start]/* Set position to relative for submenu container [cite: 74] */
}

/* Nested style rule for <a> element (Exercise 7-1, steps 12, 14) */
.navbar a {
    display: block;      [cite_start]/* Display links as block elements [cite: 33] */
    padding: 1em;        [cite_start]/* Padding for all four sides [cite: 33] */
    text-decoration: none; [cite_start]/* Remove underline [cite: 33] */
    color: var(--light-menu-color); [cite_start]/* Text color set to light menu color [cite: 33] */
    [cite_start]/* Finishing touches: add space around menu items (top: 0, left/right: 1px, bottom: 2px) [cite: 39] */
    margin: 0 1px 2px; 
}

/* Hover/Focus/Current states (Exercise 7-1, step 12) */
.navbar a:hover,
.navbar a:focus,
.navbar .current {
    background-color: var(--mid-menu-color); [cite_start]/* Set background to mid menu color [cite: 34] */
    color: var(--dark-menu-color);       [cite_start]/* Set text color to dark menu color [cite: 34] */
}

/* Submenu icon spacing (Exercise 7-2, step 6) */
.menu > li > a small {
    margin-left: 5px; [cite_start]/* Adds space between link text and down triangle [cite: 75] */
}

/* Remove extra space from first/last menu items (Exercise 7-2, step 19) */
.menu > li:first-child a { 
    margin-left: 0; [cite_start]/* Remove left margin on first item [cite: 59, 98] */
}
.menu > li:last-child a { 
    margin-right: 0; [cite_start]/* Remove right margin on last item [cite: 59, 98] */
}

/* -----------------------------------
 * SUBMENU STYLES (DROPDOWNS)
 * ----------------------------------- */

/* CSS for the submenu class (Exercise 7-2, steps 9, 10, 11, 12, 13) */
.submenu {
    position: absolute;       [cite_start]/* Set position to absolute [cite: 79] */
    left: 0;                  [cite_start]/* Set left property to 0 [cite: 80] */
    right: 0;                 [cite_start]/* Set right property to 0 [cite: 80] */
    background-color: var(--accent-color); [cite_start]/* Set background color to accent [cite: 81] */
    color: var(--light-menu-color); [cite_start]/* Set text color to light menu color [cite: 85] */
    
    /* Remove default list styling for submenu */
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: none;            [cite_start]/* Set display to hidden by default [cite: 86] */
}

/* Show submenu on hover (Exercise 7-2, steps 7, 8) */
.menu > li:hover > .submenu,
.menu > li:focus-within > .submenu {
    display: block; [cite_start]/* Displays when user hovers/focuses over the main item [cite: 78, 88] */
}

/* Submenu <a> element margins (Exercise 7-2, step 18) 
   Note: The instruction used a slightly complex selector, here is the functional equivalent:
*/
.submenu > li a {
    margin: 0 2px 2px; [cite_start]/* Set margin to match main menu items for borders [cite: 95] */
}
